<%= form_with(model: note, local: true, url: idea_notes_path) do |form| %>
    <% if note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(note.errors.count, "error") %> prohibited this idea from being saved:</h2>
  
        <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :body %>
      <%= form.text_field :body, id: :note_body %>
    </div>
  
    <div class="field">
      <%= form.label :author %>
      <%= form.text_area :author, id: :note_author %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>